@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-input-placeholder {
    opacity: .9;
    transition: .2s;
}

input:focus::-webkit-input-placeholder {
    opacity: .4;
}

input:focus {
    outline: none !important;
}

.search-icon {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}