@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-input-placeholder {
    color: #0C4A6E;
    opacity: .9;
    transition: .2s;
}

input {
    background-color: #bae6fd !important;
    color: #0c4a6e !important;
}

td {
    background-color: #bae6fd !important;
    color: #164e63 !important;
}

input:focus::-webkit-input-placeholder {
    opacity: .4;
}

input:focus {
    outline: none !important;
}

.search-icon {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}